@charset "UTF-8";

/* CONFIGURAÇÃO MENU TOPO*/

.my-navbar1{
    background: rgba(34, 251, 23, 0.5);
}

#cadastro{
    margin-top: 20px;
    margin-left: 4%;
    float: left;
    position: relative;
}


.logo-topo img{
    margin-top: -5px;
}

/*  PLANO DE FUNDO DA PÁGINA -CORPO*/
.plano-de-fundo {
    background: url(../imgs/fundo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 1530px;
}

/* CONFIGURAÇÃO DAS IMAGENS DO CAROUSEL -CABEÇALHO*/
.imagem img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
}

/*CONFIGURAÇÃO DAS DIMENSÕES DO CAROUSEL*/
#carousel-example-generic{
    width: 77.4%;
    margin-left: 11.3%;
    margin-top: 50px;
}

/* FUNDO TRANSPARENTE -SEÇÃO*/
.fundo-branco-transparente{
	height: 900px;
	background-color: white;
	opacity: 0.95;
	margin: 0 12% 0 12.5% ;
    z-index: 1;
    position: relative;
}

/* FUNDO RODAPÉ*/
.rodape{
    height: 70px;
    background-color: #c1e2b3;
    border-top: dashed #37342f 1px;
    margin:auto auto auto 12.5%;
    width: 75%;
    border-radius: 0 0 5px 5px;
    text-align: center;
}


.modalCadastro {
    margin: auto;
    width: 70%;
    height: auto;
}

.bairro {
    margin: 15px auto 15px 5px;
}

/*PHP CARRINHO*/

.fundoresposta{
    width: 30%;
    height: 350px;
    border-radius: 5px;
    border: dashed #9d9d9d 1px;
    margin: auto 24px auto auto;
    text-align: center;
    display: block;
    float: left;


}

#resproduto{
    color: #3c3c3c;
    font-size: 15px;
    position: relative;
    margin-top: 25px;
    font-weight: bold;
}

#respreco{
    color: #985f0d;
    font-size: 16px;
}

#resmercado{
    color: #0f0f0f;
    font-weight: bold;

}

.fundoresposta:hover{
    border: solid #9d9d9d 1px;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 31.61%,rgba(151,229,206,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 31.61%,rgba(151,229,206,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 31.61%,rgba(151,229,206,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 31.61%,rgba(151,229,206,1.00) 100%);

}

.titulo{
    background-color: #b2dba1;
    height: 25px;
    width: auto;
    margin: 5px auto 5px auto;
    border-radius: 2px;
    text-align: center;
}
.titulo h4{
    padding-top: 4px;
    padding-left: 2px;
}

/*CARRINHO DE COMPRA*/

.tabelacarrinho{
    width: 80%;
    margin: 100px;
    background-color: #ffffff;
    border-radius: 5px;
}

#total{
    font-size: 15pt;
    font-weight: bold;
    padding-top: 1%;

}
#totalvalor{
    font-size: 15pt;
    font-weight: bold;
}

.corpo-carrinho{
    background: url("../imgs/fundo.jpg");
    
}

.titulomenu{
    font-weight: bold;

}


/*FORMA PAGAMENTO*/
#imagem-pgmto{
    margin: 0 auto !important;
    margin-top: 20px;

}

.conteudo-forma-pagamento{
    background-color: #3c3c3c;
}

.pgto{
    background-color: #cccccc;
    height: 40%;
    margin-top: 2%;
    border-radius: 10px;
    border: dotted #2aabd2 1px;
}

.entrega{
    color: #d58512;
    font-weight: bold;
}

.pagamento4{
    width: 100%;
    height: 40%;
    background-color: #cccccc;
    margin-top: 2%;
    border-radius: 10px;
    border: dotted #2aabd2 1px;
    display: block;

}

.oselect{
    margin-top: 20%;
}
.infocartao{
    margin-top: 40%;
    height: 45%;
    background-color: #cccccc;
    display: block;
    border-radius: 10px;
}

.conteudopagamento{
    margin-top: 2%;

}
